form {
    display: flex;
    justify-content: center;
    gap: 20px;
}

input {
    font-family: inherit;
    font-size: inherit;

    background-color: inherit;

    border: none;
    border-radius: 2%;
    margin-bottom: 40px;
}

input[type = text] {
    border-bottom: 2px solid #222;
}

input[type = submit] {
    border: 1px solid grey;
}