html, body {
  width: 100vw;
  background-color: azure;
}

body{
  margin: 0;
  padding: 0;
  color: rgb(72, 69, 69);
  font-size: 20px;
}

.App {
  background-color: grey;
  width: 80%;
  margin: auto;
}

header{
  margin: 50px;
  padding-top: 30px;
}
